---
layout: layouts/base.njk
title: Episodes
permalink: /episodes/index.html
---
<section class="all-episodes">
  <h2>All episodes</h2>
  <div class="episodes-list">
    {% for ep in collections.episodes %}
      {% set item = ep %}
      {% include "episode-card.njk" %}
    {% endfor %}
  </div>
</section>
